@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* font-synthesis: none !important; */
    /* background-color: var(--color-ivory-default); */
    html,
    body {
        height: 100%;
        width: 100vw;
        overflow: auto;
        overflow-x: hidden;
        background-color: #fcf4e9;
    }
}

@font-face {
    font-family: 'Atkinson_Hyperlegible_Next';
    font-weight: 300;
    src: url(/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Baskerville';
    font-weight: 300;
    src: url(/fonts/Baskerville/LibreBaskerville-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Baskerville_Bold';
    font-weight: 300;
    src: url(/fonts/Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Baskerville_Italic';
    font-weight: 300;
    src: url(/fonts/Baskerville/LibreBaskerville-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}



@theme {  
    /* Typography */
    --font-sans: "Atkinson_Hyperlegible_Next", "sans-serif"; 
    --font-serif: "Baskerville_Bold", "serif";
    --font-serif-italic: "Baskerville_Italic", "serif";

    /* Sizes */
    --container-desktop-size: 1920px;
    
    /* Colors */
    --color-ivory-default: #fcf4e9;
    --color-ivory-dark: #82561b;
    --color-zeit-light: #7EA7FF;
    --color-zeit-default: #4580FF;
    --color-zeit-dark: #0036AC;
    --color-nyt-light: #FFDB93;
    --color-nyt-default: #FFBC36;
    --color-nyt-dark: #CE8900;

    --animate-bounce: bounce 14s ease-in-out infinite;
    --animate-bounce-two: bouncetwo 12s ease-in-out infinite;
    --animate-bounce-icon-1: bounceicon 4s ease-in-out infinite;
    --animate-bounce-icon-2: bounceicon 8s ease-in-out infinite;
    --animate-bounce-icon-3: bounceicon 6s ease-in-out infinite;

    @keyframes bounce {
        0%, 100% {
          transform: translateY(20%);
          animation-timing-function: ease-in-out;
        }
        50% {
          transform: none;
          animation-timing-function: ease-in-out;
        }
    }

    @keyframes bouncetwo {
        0%, 100% {
          transform: translateY(40%);
          animation-timing-function: ease-in-out;
        }
        50% {
          transform: none;
          animation-timing-function: ease-in-out;
        }
    }

    @keyframes bounceicon {
        0%, 100% {
          transform: translateY(10%);
          animation-timing-function: ease-in-out;
        }
        50% {
          transform: none;
          animation-timing-function: ease-in-out;
        }
    }
}

@layer components {

    button {
        border: 1px solid black;
        padding: 0rem 0.5rem 0rem 0.5rem;
        border-radius: 50px;
        cursor: pointer;
    }

    button:hover {
        background-color: white;
    }

    .essay {

        h3, h4, p {
            margin-bottom: 2rem;
        }

        h2 {
            font-family: var(--font-serif);
            font-size: var(--font-xl);
        }
        
        h3 {
            font-style: italic;
            margin-bottom: 2rem;
        }

        h4 > span {
            vertical-align: super;
            font-size: smaller;
            padding-left: 5px;
        }

        div.optional {
            border-left: 1px solid black;
            padding-left: 1rem;
        }

        sup {
            margin-left: 0.2rem;
            color: var(--color-yellow-600);
        }

        .nyt {
            color: var(--color-nyt-default);
        }

        .zeit {
            color: var(--color-zeit-default);
        }

        .footnotes {
            color: var(--color-ivory-dark);

            li {
                max-width: 220px;
                font-size: 12px;
                border: 1px solid var(--color-ivory-dark);
                border-radius: 10px;
                background-color: var(--color-ivory-default);
                overflow: hidden;
                position: absolute;
                left: 70%;

                p {
                    margin: 0.5rem;
                }
            }
        }
    }

    .step {
        margin: 0 auto 2rem auto;
        min-height: 100px;
    }

    .last-step {
        min-height: 2000px;
    }

    #tooltip {
        max-width: 200px;
        display: flex;
        background-color: white;
        padding: 0rem 0.5rem;
        border: 1px solid black;
        
    }

    .optional-hidden {
        .optional {
            height: 0px;
            border-bottom: 1px solid black;

            p {
                visibility: hidden;
            }
        } 
    }

    .visualization {
        text.NYT {
            filter: drop-shadow( 1px 1px 1px var(--color-nyt-dark));
        }

        text.Zeit {
            filter: drop-shadow( 1px 1px 1px var(--color-zeit-dark));
        }

        &.venn {
            text {
                text-anchor: middle;
                font-size: 10px;
            }

            &.NYT {
                circle {
                    stroke: black;
                    fill: var(--color-nyt-default);
                    mix-blend-mode: multiply;
                }

                text {
                    fill: var(--color-ivory-default);
                }
            }

            &.Zeit {
                circle {
                    stroke: black;
                    fill: var(--color-zeit-default);
                    mix-blend-mode: multiply;
                }

                text {
                    fill: var(--color-ivory-default);
                }
            }
        }
    }
}